<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show</title>
  </head>
  <body>
    <a href="/events">Back</a>
    <form action="/events/<%= event._id %>?_method=DELETE" method="POST">
      <input type="submit" value="DELETE" />
    </form>
    <form action="/events/<%= event._id %>/addplayer?_method=PUT" method="POST">
      <label>Add Player to Event</label>
      <input type="text" name="name" />
      <input type="submit" value="Add" />
    </form>
    <a href="/events/<%= event._id %>/edit">Edit</a>
    <h1><%= event.name %></h1>
    <p><%= event.date %></p>
    <p><%= event.course %></p>
    <p>Players:</p>
    <ul>
      <% event.players.forEach(p => { %>
      <li><%= p %></li>
      <% }) %>
    </ul>
  </body>
</html>
