<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script defer src="/app/script.js"></script>
    <title>Show</title>
  </head>
  <body>
    <span id="event-id" class="hidden"><%= event._id %></span>
    <a href="/events">Back</a>
    <form action="/events/<%= event._id %>?_method=DELETE" method="POST">
      <input type="submit" value="DELETE" />
    </form>
    <form action="/events/<%= event._id %>/addplayer?_method=PUT" method="POST">
      <label>Add Player to Event</label>
      <input type="text" name="name" />
      <input type="submit" value="Add" />
    </form>
    <a href="/events/<%= event._id %>/edit">Edit</a>
    <br />
    <a href="/players">Player List</a>
    <h1><%= event.name %></h1>
    <p><%= event.date %></p>
    <p><%= event.course %></p>
    <p>Players:</p>
    <table id="mytable">
      <thead>
        <tr>
          <th>Player</th>
          <th>Current Tag</th>
          <th>New Tag</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <% event.players.forEach(p => { %>
        <tr id="<%= p._id %>">
          <td><%= p.name %></td>
          <td class="current-tag"><%= p.currentTag %></td>
          <td class="new-tag"></td>
          <td class="score-cell">
            <% if(event.scores.find(x => x.playerId == p._id)) { %> <%=
            event.scores.find(x => x.playerId == p._id).score %> <% } else { %>
            - <% } %>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <button id="clickMe">Process Event</button>
  </body>
</html>
